/* antivirus inner */
.antivirus-inner .tariff-radios,
.antivirus-key .tariff-radios {
  padding-top: 24px; }
  .antivirus-inner .tariff-radios__col,
  .antivirus-key .tariff-radios__col {
    display: inline-block;
    width: 148px;
    margin: 0 65px 22px 0;
    float: none; }
  .antivirus-inner .tariff-radios__col:nth-child(4n),
  .antivirus-key .tariff-radios__col:nth-child(4n) {
    margin-right: 0; }

.antivirus-inner .tariff-radio-info--text-dark,
.antivirus-key .tariff-radio-info--text-dark {
  color: #111; }

.antivirus-inner .tariff-radio-info__price,
.antivirus-key .tariff-radio-info__price {
  padding-top: 4px;
  font-size: 15px;
  line-height: 20px; }

.antivirus-inner .tariff-radio-info__price i.fa,
.antivirus-key .tariff-radio-info__price i.fa {
  font-size: 15px; }

.antivirus-inner .block-white,
.antivirus-key .block-white {
  margin-bottom: 0; }

.block-step {
  padding: 27px 0 15px 0;
  border-bottom: 1px solid #e5e9ee; }
.block-step:last-child{ border-bottom:none;}
.block-step:first-child { padding-top:0px;}

.choose-product {
  padding-top: 9px;
  padding-bottom:30px; }
  .choose-product__item {
    display: inline-block;
    width: 258px;
    height: 386px;
    margin-right: 14px;
    border: 1px solid #e5e9ee;
    box-sizing: border-box;
    background-color: #fff; }
    .choose-product__item:hover {
      border: 1px solid #008dcd; }
    .choose-product__item--border-blue {
      border: 1px solid #008dcd; }
  .choose-product__item:last-child {
    margin-right: -4px; }
  .choose-product-img {
    padding: 27px 0 0 15px; }
  .choose-product-name h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: -1px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    color: #111; }
	.choose-product-name h2:hover{color: #008dcd;}
  .choose-product-radio {
    padding-top: 20px;
    text-align: center; }
    .choose-product-radio label {
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      color: #666;
      vertical-align: middle;
      padding-left: 3px; }
    .choose-product-radio label.text-dark {
      color: #111; }
    .choose-product-radio label.hover {
      color: #111;
      cursor: pointer; }

.block-choose-license {
  border: none; }

.choose-license {
  padding-top: 10px; }
  .choose-license input {
    width: 300px;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #c8c8c8;
    border-radius: 5px; }
    .choose-license input:focus {
      border: 1px solid #008dcd; }

.block-light-grey {
  background-color: #f8f9fa; }
  .block-light-grey .block-tariff-bottom {
    padding: 0; }
  .block-light-grey .block-title {
    display: inline-block; }
    .block-light-grey .block-title span {
      font-size: 20px; }

input::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
  line-height: 20px; }

input::-moz-placeholder {
  font-size: 14px;
  color: #999;
  line-height: 20px; }

input:-moz-placeholder {
  font-size: 14px;
  color: #999;
  line-height: 20px; }

input:-ms-input-placeholder {
  font-size: 14px;
  color: #999;
  line-height: 20px; }
  
  .active .submenu__link{ color:#111111; text-decoration:none;}
